body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFC2C7;
}

nav {
    background-color: #ff96a9;
    margin: 0;
    padding: 0.05rem;
}

li {
    display: inline-block;
}

a:link {
    color: azure;
}

a:visited {
    color: deeppink;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: paleturquoise;
}

nav ul {
    display: flex;
    display: inline;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

